.main-page {
  display: flex;
  justify-content: center;
  margin-top: 71px;
}

.main-page__city {
  font-family: var(--main_font);
  color: var(--font_black);
  font-size: 22px;
  line-height: 34px;
  margin: 56px 0 16px;
}

.main-page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page-list {
  width: 1142px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 15px -5px 100px;
  justify-content: space-between;
}
