.main-page {
  display: flex;
  flex-direction: column;
}

.main-page__city {
  font-size: 22px;
  line-height: 34px;
  margin: 56px 0 16px;

}

.main-page__wrapper {
  display: flex;
  justify-content: center;
}

.main-page__first,
.main-page__second,
.main-page__third {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
