@import "./main.css";
@import "../header/header.css";
@import "../search/search.css";
@import "../delivery-terms/delivery-terms.css";
@import "../authorization-options/authorization-options.css";
@import "../restaurant-card/restaurant-card.css";
@import "../footer/footer.css";
@import "../restaurant-layout/restaurant-layout.css";
@import "../restaurant-preview/restaurant-preview.css";
@import "../restaurant-menu/restaurant-menu.css";
@import "../product-card/product-card.css";

* {
  box-sizing: border-box;
  font-family: var(--main_font);
}

body {
  margin: 0;
}
