.authorization-options__wrapper {
  display: flex;
  align-items: center;
}

.authorization-options {
  width: 80px;
  height: 40px;
  border: 1px solid var(--border_grey);
  background: none;
}

.authorization-options--register {
  background: var(--background_black);
  color: var(--white);
  border: none;
  margin: 0 16px 0 27px;
}
