@import "./components/header/header.css";
@import "./components/search/search.css";
@import "./components/delivery-terms/delivery-terms.css";
@import "./components/authorization-options/authorization-options.css";
@import "./components/restaurant-card/restaurant-card.css";
@import "./components/footer/footer.css";
@import "./components/restaurant-preview/restaurant-preview.css";
@import "./components/restaurant-menu/restaurant-menu.css";
@import "./components/product-card/product-card.css";

* {
  box-sizing: border-box;
  font-family: var(--main_font);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main_font: "Roboto", sans-serif;
  --font_black: #1d1d1d;
  --background_black: #262626;
  --white: #fff;
  --font_grey: #626262;
  --border_grey: #e0e0e0;
  --border_light_grey: rgba(117, 117, 117, 0.2);
  --background_lightghrey: #ddd;
  --border_dark_grey: #757575;
  --font-green: #327430;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


