.restaurant-menu__wrapper {
  width: 1124px;
  margin: 56px auto 80px;
}

.restaurant-menu__type {
  font-size: 22px;
  padding-top: 160px;
  margin-top: -150px;
  font-family: var(--main_font);
  color: var(--font_black);
}

.restaurant-menu__list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 29px -20px;
}
